In [61]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])?  y

各手法ごとに帰属度と目的関数、評価関数の値をcsvに書き出した後、それぞれ一覧で出力しているファイル

In [8]:
import pandas as pd

In [9]:
m3 = {}
m3["J"] = df_m3["J"][0]
m3["F"] = df_m3["F"][0]
m3

{'J': 29.289735663504533, 'F': 835.9584066789748}

In [27]:
df_m3 = pd.read_csv("./iris_classification/iris_csvFile/Iris-m3.csv")
df_u = df_m3.loc[:,"u0":"u2"]
df_u = df_u.rename(columns={'u0':'u1','u1':'u2','u2':'u3'})
df_u

           u1        u2        u3
0    0.060611  0.885228  0.054161
1    0.108113  0.810330  0.081557
2    0.101756  0.820053  0.078190
3    0.122551  0.786852  0.090597
4    0.070286  0.870102  0.059612
..        ...       ...       ...
145  0.181321  0.054109  0.764570
146  0.396489  0.088777  0.514734
147  0.173925  0.041181  0.784894
148  0.257683  0.084530  0.657787
149  0.432544  0.091590  0.475866

[150 rows x 3 columns]

In [39]:
df_u.iloc[[0]]

         u1        u2        u3
0  0.060611  0.885228  0.054161

In [21]:
df_m5 = pd.read_csv("./iris_classification/iris_csvFile/Iris-m5.csv")
df_u = df_m5.loc[:,"u0":"u2"]
df_u = df_u.rename(columns={'u0':'u1','u1':'u2','u2':'u3'})
df_u

           u1        u2        u3
0    0.157119  0.694499  0.148381
1    0.209519  0.605768  0.184713
2    0.206081  0.611111  0.182808
3    0.221548  0.584508  0.193945
4    0.173359  0.667385  0.159256
..        ...       ...       ...
145  0.280184  0.159885  0.559931
146  0.375219  0.178483  0.446298
147  0.240008  0.129790  0.630202
148  0.316128  0.182531  0.501342
149  0.391847  0.180248  0.427904

[150 rows x 3 columns]

In [22]:
df_m8 = pd.read_csv("./iris_classification/iris_csvFile/Iris-m8.csv")
df_u = df_m8.loc[:,"u0":"u2"]
df_u = df_u.rename(columns={'u0':'u1','u1':'u2','u2':'u3'})
df_u

           u1        u2        u3
0    0.219156  0.554037  0.226808
1    0.246973  0.489700  0.263327
2    0.246139  0.492158  0.261703
3    0.253093  0.476265  0.270642
4    0.228459  0.532209  0.239331
..        ...       ...       ...
145  0.454356  0.230701  0.314944
146  0.404182  0.236896  0.358923
147  0.531060  0.202124  0.266816
148  0.425264  0.243249  0.331487
149  0.394303  0.237964  0.367733

[150 rows x 3 columns]

In [23]:
df = pd.read_csv("./iris_classification/iris_csvFile/Iris-fcm.csv")
df_u = df.loc[:,"u1":"u3"]
df_u

           u1        u2        u3
0    0.915676  0.034733  0.049591
1    0.827251  0.070570  0.102178
2    0.835861  0.067695  0.096444
3    0.801531  0.081068  0.117401
4    0.894932  0.043400  0.061669
..        ...       ...       ...
145  0.069029  0.715875  0.215096
146  0.097676  0.466216  0.436108
147  0.064641  0.698666  0.236693
148  0.093683  0.624896  0.281420
149  0.099770  0.427048  0.473182

[150 rows x 3 columns]

In [76]:
df_m3 = pd.read_csv("./iris_classification/iris_csvFile/Iris-m3.csv")
df_u = df_m3.loc[:,"u0":"u2"]
u = df_u.values
np_cluster = df_m3.loc[:,"cluster"].values
X =df_m3.loc[:,"sepal_length":"petal_width"].values
J = df_m3["J"][0]

In [77]:
def calc_F(c,cluster,X,v,m,u):
    #中心間距離の作成
    center_distance = np.zeros((c,c))
    for i in range(c):
        center_distance[i]= np.sum((v[i]-v)**2,axis=1)
    print("center_distance")
    print(center_distance)
    #dにはd11,d12,d13,d14,d21,d22,,,dn1,,dncの順でリスト作る
    d = np.zeros((X_size,c))
    for i in range(X_size):
        d[i] = np.sum((X[i]-v)**2,axis=1)
    # print("d_{ki}")
    # print(d[0])

    new_d = np.zeros((X_size,c))
    #ここが怪しい
    for i in range(c):
        new_d[cluster == i] = d[cluster == i]+center_distance[i]
    # print("new_d{ki} = d_{ki}+d_{ii*}")
    # print(new_d[0])

    #評価関数計算(ついでにJも再計算してあってるか確認)
    F = 0
    kakunin_J = 0
    u_m = u**m
    for i in range(X_size):
        F += np.sum(u[i] * new_d[i])
        kakunin_J += np.sum(u_m[i] * d[i])


    #この初期値のときの結果が優れている場合，bestを更新
    print("Jの値:",J)
    print("Jの値を再計算:",kakunin_J)
    print("Fの値:",F)
    return F

In [78]:
#クラスタ中心計算部分関数作成
def v_calculation(u_m,c,dimension,X):
    #分母計算(クラスタサイズになるはず)
    v_denominator = np.sum(u_m,axis=0)
    
    #分子計算
    v_numerator = np.zeros((c,dimension))
    for j in range(c):
        for i in range(X_size):
            v_numerator[j]+= u_m[i][j]*X[i]
   
    v = np.zeros((c,dimension ))
    for i in range(c):
        v[i] = v_numerator[i]/v_denominator[i]
    return v

In [79]:
m=3
c=3
X_size,dimension = X.shape
u_m = u**m
v = v_calculation(u_m,c,dimension,X)

In [80]:
v

array([[5.8798245 , 2.7805334 , 4.33476775, 1.37513018],
       [4.99946148, 3.39023264, 1.49106561, 0.25094682],
       [6.65877695, 3.0271593 , 5.50532537, 2.01772969]])

In [81]:
calc_F(c,np_cluster,X,v,m,u)

center_distance
[[ 0.         10.49720232  2.45073051]
 [10.49720232  0.         22.12095316]
 [ 2.45073051 22.12095316  0.        ]]
Jの値: 29.289735663504533
Jの値を再計算: 29.289735663503222
Fの値: 835.9584066789752

835.9584066789752

In [65]:
df_m5 = pd.read_csv("fecbo-db-m5-iris.csv")
m5 = {}
m5["J"] = df_m5.loc[150]["sepal_width"]
m5["F"] = df_m5.loc[151]["sepal_width"]
m5

{'J': 4.254850237086912, 'F': 1454.160086057192}

In [66]:
df_m8 = pd.read_csv("fecbo-db-m8-iris.csv")
m8 = {}
m8["J"] = df_m8.loc[150]["sepal_width"]
m8["F"] = df_m8.loc[151]["sepal_width"]
m8

{'J': 0.18012164024442, 'F': 1785.6306597921157}

In [67]:
df_m3_rand = pd.read_csv("fecbo-db-m3-rand.csv")
rand_m3 = {}
rand_m3["J"] = df_m3_rand.loc[100]["1"]
rand_m3["F"] = df_m3_rand.loc[101]["1"]
rand_m3

{'J': 0.5603847272533886, 'F': 32.667265517970215}

In [68]:
df_m5_rand = pd.read_csv("fecbo-db-m5-rand.csv")
rand_m5 = {}
rand_m5["J"] = df_m5_rand.loc[100]["1"]
rand_m5["F"] = df_m5_rand.loc[101]["1"]
rand_m5

{'J': 0.0254977934291202, 'F': 32.205874979319205}

In [25]:
df_m5_rand = pd.read_csv("fecbo-db-m5-rand.csv")
df_m5_rand

,sepal_length,sepal_width,petal_length,petal_width,cluster,u0,u1,u2
0,5.1,3.500000,1.4,0.2,0.0,1.000000e+00,-3.091345e-10,-2.384222e-10
1,4.9,3.000000,1.4,0.2,0.0,1.000000e+00,-3.071439e-10,-2.246454e-10
2,4.7,3.200000,1.3,0.2,0.0,1.000000e+00,-2.954367e-10,-2.626342e-10
3,4.6,3.100000,1.5,0.2,0.0,1.000000e+00,-3.052415e-10,-2.272333e-10
4,5.0,3.600000,1.4,0.2,0.0,1.000000e+00,-3.065066e-10,-2.484038e-10
...,...,...,...,...,...,...,...,...
147,6.5,3.000000,5.2,2.0,1.0,-3.594523e-10,1.000000e+00,1.185552e-08
148,6.2,3.400000,5.4,2.3,1.0,-3.528144e-10,1.000000e+00,3.385297e-09
149,5.9,3.000000,5.1,1.8,1.0,-3.670626e-10,9.623473e-01,3.765273e-02
150,J,inf,NaN,NaN,NaN,NaN,NaN,NaN
151,F,88.339699,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df_m5_rand = pd.read_csv("fecbo-db-m5-rand.csv")
rand_m5 = {}
rand_m5["J"] = df_m5_rand.loc[100]["1"]
rand_m5["F"] = df_m5_rand.loc[101]["1"]
rand_m5

KeyError: '1'

In [21]:
df_m3_rand = df_m3_rand[:150]
df_m3_rand["J"] = rand_m3 ["J"]
df_m3_rand["F"] = rand_m3 ["F"]
df_m3.to_csv('fecbo-db-m3-rand.csv',index=False)